<h1>ジャンル管理画面</h1>
<h4>ジャンル名</h4>
<% @genres.each do |genre| %>
  <%= genre.name %>
  <%= link_to '編集', edit_admin_genre_path(genre.id) %>
<% end %>




<h2>ジャンル追加</h2>

<%= form_with model:@genre, local:true do |f| %>
  <h4>ジャンル名</h4>
  <%= f.text_field :name %>
  <%= f.submit '追加' %>
<% end %>
