<h1>注文情報入力画面</h1>

  <%= form_with model:@order local:true do |f| %>

  <%= f.radio_button :payment_method, "credit_card" %>
  <%= f.label :payment_method, "クレジットカード" %>

  <%= f.radio_button :payment_method, "transfer" %>
  <%= f.label :payment_method, "銀行振込" %>
  
  <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :full_address) %>
  

  <%= f.submit "注文情報確認画面" %>

<% end %>